<li>
  {{#link-to 'question' question.id}}{{question.query}} by {{question.author}}{{/link-to}}
  {{#if isImageShowing}}
    <p><img src={{question.image}} alt={{question.additional}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Additional Information</button>
  {{/if}}
</li>
